{% extends 'base.html' %}
{% load static %}


{% block title %} Поиск :: {{ block.super  }} {% endblock %}

{% block content %}
 
<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                    <div class="col-md-12">
                        <div class="single-post-big">
                            <div class="big-image">
                                <img src="{% static 'img/baseArs.jpg' %}" alt="">
                            </div>
                            <div class="big-text">
                                <h3><a href="#">Блог для всех и никого</a></h3>
                                <p>Властвует над страстями не тот, кто совсем воздерживается от них, но тот, кто пользуется ими так, как управляют кораблем или конем, то есть направляет их туда, куда нужно и полезно.</p>
                                <p>Благо везде и повсюду зависит от соблюдения двух условий: правильного установления конечных целей и отыскания соответствующих средств, ведущих к конечной цели.</p>
                                <h4><span class="date">384 BC - 322 BC   </span><span class="author">Posted By: <span class="author-name">Аристотель</span></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {% for post in posts %}
                    <div class="col-md-3">
                        <div class="single-post">
                            {% if post.photo %}
                            <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                            {% else %}

                            <img src="{% static 'img/post-image2.jpg' %}" alt="{{ post.title }}">
                            {% endif %}


                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                            </h4>
                            <p>{{post.content|truncatewords_html:20|safe}}</p>
                            <h4><span>{{post.created_at|date:"d.m.Y"}}</span></h4>
                        </div>
                    </div>
                    {% empty %}
                    <p> По вашему запросу ничего не найдено</p>
                    {% endfor %}
            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}
    <div class="pegination">
        <div class="nav-links">
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                <span class="page-numbers current">{{ p }}</span>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <a class="page-numbers" href="?{{ s }}page={{ p }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <a class="page-numbers" href="?{{ s }}page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}

             
             
            
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}